html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
}

.past-head,
h1,
h2 {
  font-size: x-large;
  font-weight: 900;
  color: #2e2c5f;
}



.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin-right: 15px;
  height: 350px;
}

.larger{
  height: 350px;
}

.smaller{
  height: 250px;
}

.font-family {
  font-weight: 800;
}

.book-form,
.wrapper {
  align-self: center;
  height: 80vh;
  width: 80%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.2), 0 6px 20px 0 rgba(36, 36, 36, 0.19);
}

nav {
  background-color: #e4be55;
  width: 20%;
}

.profile {
  display: flex;
  margin: 15px;
  align-items: center;
}

.profile-icon {
  height: 25px;
  margin-right: 5px;
}

.nav-btns {
  display: flex;
  flex-direction: column;

}

.nav-btn {
  width: 50%;
  height: 75px;
  margin: 5px 0px 5px 0px;
  color: #2e2c5f;
  background-color: #C1DAE2;
  border: 0px;
  align-self: flex-end;
  border-radius: 10px 0px 0px 10px;
}

main {
  background-color: #C1DAE2;
  height: 100%;
  width: 80%;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th {
  color: #f9f9f9;
  background-color: #9273DB;
  border-bottom: #DB8592 4px solid;

  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

td {
  text-align: center;
  font-size: 14px;
}

.rewards {
  margin:0px;
  font-size: 14px;
}

.emphasize {
  font-weight: 700;
  color: #9273DB;
}

.total-spent{
  color: #f9f9f9;
  font-weight: 600;
  padding: 5px;
  width: 50%;
  background-color:#9273DB;
  border-radius: 5px;
  text-align: center;
}

.page {
  margin: 30px;
}

.past-head{
 margin-bottom: 20px;
}

.plan-display {
  height: 100%;
}

.destination-listings {
  height: 100%;
  width: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dest-card {
  border: 3px #07044E solid;
  width: 45%;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

h3{
  color: #9273DB;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 2px 0px;
}

.country{
  margin: 0px 0px 5px 0px;
  text-align: center;
  color:#a7a7a7;
}

.destImg {
  width: 65%;
  height: 50%;
  align-self: center;
}

.dest-details{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dest-detail{
  font-size: 12px;
  font-weight: 600;
  white-space: pre-line;
}

.dest-book-btn{
  background-color: #9273DB;
  color: #f0f0f0;
  border: 0px;
  height: 40px;
}

.dest-book-btn:hover{
  background-color: #DB8592;
  cursor: pointer;
}

.book-form {
  background-color: aliceblue;
}

.form-dest-img {
  height: 125px;
}

.hidden {
  display: none;
}