html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
}

h1,
h2,
legend,
.past-head {
  font-size: x-large;
  font-weight: 900;
  color: #2e2c5f;
}

h3 {
  color: #9273DB;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 2px 0px;
}

.book-form,
.traveler-login,
.wrapper {
  align-self: center;
  height: 80vh;
  width: 80%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.2), 0 6px 20px 0 rgba(36, 36, 36, 0.19);
}

.profile {
  display: flex;
  margin: 15px;
  align-items: center;
}

.profile-icon {
  height: 25px;
  margin-right: 5px;
}

nav {
  background-color: #e4be55;
  width: 20%;
}

.nav-btns {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  width: 50%;
  height: 75px;
  margin: 5px 0px 5px 0px;
  color: white;
  background-color: #DB8592;
  font-weight: bold;
  font-size: .75rem;
  border: 0px;
  align-self: flex-end;
  border-radius: 10px 0px 0px 10px;
}

.nav-btn:disabled {
  background-color: #C1DAE2;
  color: #2e2c5f;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #9273DB;
  cursor: pointer;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin-right: 15px;
  height: 350px;
  pointer-events: none;
}

.currency {
  font-family: serif;
}

.trvlr {
  transition: height 0.5s ease;
}

.larger {
  height: 340px;
}

.smaller {
  height: 200px;
}

.font-family {
  font-weight: 800;
}

main {
  background-color: #C1DAE2;
  height: 100%;
  width: 80%;
}

.table-container{
  overflow-y:auto;
  width: 75%;
  margin-bottom: 20px;
  scrollbar-color: #DB8592 #e4be55;
}

.table-container::-webkit-scrollbar{
  border-radius: 5px;
  background-color: #e4be55;
}

.table-container::-webkit-scrollbar-thumb{
  background-color: #DB8592;
  border-radius: 5px;
  height: .5rem;
}

.up-cont{
  max-height: 8rem;
}

.past-cont{
  max-height: 16rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  color: #07044E;
  background-color: #C1DAE2;
  border-bottom: #DB8592 4px solid;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: sticky;
  top:0
}

td {
  text-align: center;
  font-size: 14px;
}

.rewards {
  margin: 0px;
  font-size: 14px;
}

.emphasize {
  font-weight: 700;
  color: #9273DB;
}

.total-spent {
  color: #f9f9f9;
  font-weight: 600;
  padding: 5px;
  width: 50%;
  background-color: #9273DB;
  border-radius: 5px;
  text-align: center;
}

.page {
  margin: 30px;
}

.past-head {
  margin-bottom: 20px;
}

.plan-display {
  height: 100%;
}

.destination-listings {
  height: 80%;
  width: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dest-card {
  border: 3px #07044E solid;
  width: 45%;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.country {
  margin: 0px 0px 5px 0px;
  text-align: center;
  color: #a7a7a7;
}

.destImg {
  width: 65%;
  height: 50%;
  align-self: center;
}

.dest-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dest-detail {
  font-size: 12px;
  font-weight: 600;
  white-space: pre-line;
}

.dest-book-btn,
.confirm-close-btn {
  background-color: #9273DB;
  color: #f0f0f0;
  border: 0px;
  height: 40px;
}

.dest-book-btn:hover,
.confirm-close-btn:hover {
  background-color: #DB8592;
  cursor: pointer;
}

.book-form,
.traveler-login {
  background-color: #C1DAE2;
  display: flex;
  flex-direction: column;
}

.wrapper-two {
  height: 100%;
  width: 100%;
  display: flex;
}

.login-cont {
  justify-content: center;
}

.login-form {
  border: #e4be55 4px solid;
  background-color: white;
  border-radius: .5rem;
  width: 15rem;
  height: 15rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.login-form fieldset {
  margin-top: 2rem;
  padding: .75rem;
  justify-content: center;
}

.login-row{
  padding-bottom: .5rem;
}

.pw-label{
  padding-right: 0.25rem;
}

input[type=password] {
  margin-bottom: 10px;
}

.login-submit {
  align-self: center;
}

form {
  height: 100%;
  width: 60%;
}

fieldset {
  border: 0px;
  width: auto;
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

legend {
  width: 100%;
}

.required-text {
  margin: 0px;
  font-weight: 700;
  font-size: x-small;
  color: #2e2c5f;
}

label {
  margin-top: 5px;
}

input[type=text],
input[type=date],
input[type=number],
input[type=password] {
  width: 50%;
  height: 18px;
}

.subtotal {
  margin: 10px 0px;
}

.trip-subtotal {
  font-family: serif;
  font-weight: 900;
}

input[type=submit] {
  margin: 0px;
  width: 100px;
  height: 40px;
  border: 0px;
  background-color: #9273DB;
  color: #f9f9f9;
  font-weight: bolder;
}

input[type=submit]:hover {
  background-color: #DB8592;
  cursor: pointer;
}

.form-feedback {
  margin: 5px 0px;
  color: red;
  font-weight: 700;
  font-family: serif;
}

.form-dest-display {
  width: 50%;
  display: flex;
  justify-content: center;
}

.form-dest-card {
  border: #07044E 2px solid;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 75%;
  height: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.form-dest-img {
  width: 80%;
  align-self: center;
  margin: 15px 0px;
}

.form-dest-text {
  margin: 0px;
  text-align: center;
}

.cancel {
  height: 30px;
  width: 100%;
  border: 0px;
  background-color: #07044E;
  color: #f0f0f0;
  font-weight: 700;
}

.cancel:hover {
  cursor: pointer;
  background-color: #e4be55;
  color: #07044E;
}

.confirmation {
  color: #07044E;
  font-size: 1rem;
}

.hidden {
  display: none;
}